<div>
  <h1 class="choose mat-display-2 telecoding-typography"><mat-icon matTooltip="Elige" class="icon-15x">input</mat-icon> Elige banco de trabajo
    <br><br>

  <h5>
    <mat-icon matTooltip="UD">description</mat-icon> Unidad didáctica <mat-icon matTooltip="Ocupado" color="warn"> alarm_on</mat-icon> Banco ocupado, tiempo hasta que quede libre
  </h5>
  </h1>

  <div
    fxLayout="row wrap"
    fxLayout.lt-sm="column"
    fxLayoutGap="32px"
    fxLayoutAlign="flex-start"
    class="cardList">
    <ng-container class="mat-elevation-z2" *ngFor="let workbench of miServDb.workbenchs | async">
      <mat-card class="mat-elevation-z2 telecoding-typography">
        <mat-card-header>
          <div mat-card-avatar style="padding: 5px"><img mat-card-image width="50px" class="circular"
                                                         src="{{workbench.payload.val().avatar}}"></div>
          <mat-card-title class="mat-card-title">
            <span class="md-headline">{{workbench.payload.val().nombre}}</span>
          </mat-card-title>
          <mat-card-subtitle><span class="md-headline">{{workbench.payload.val().components}}</span></mat-card-subtitle>
        </mat-card-header>
        <img class="card-picture" mat-card-image [src]="workbench.payload.val().photo">
        <mat-card-content>
          <p [innerHTML]="workbench.payload.val().descr"></p>
          <p>Disponibiliad: {{workbench.payload.val().t_total}}min</p>
          <!-- debug
          <p>{{workbench | json}}</p>
          <code>{{workbench.payload.key}}</code>
          -->
        </mat-card-content>

        <mat-card-actions>
          <!-- Unidad Didactica -->
          <a matTooltip="Unidad Didáctica" target=_blank href="{{workbench.payload.val().UD}}">
            <mat-icon color="primary" role="img">description</mat-icon>
          </a>

          <!-- Status -->
          <span *ngIf="workbench.payload.val().status=='busy'; else elseBusy">
            <!-- Ocupado -->
            <button class="mat-icon-button fondo">
              <mat-icon matTooltip="Ocupado, tiempo restante {{workbench.payload.val().t_remaining}}mins" color="warn"
                        class="mat-icon notranslate material-icons mat-icon-no-color">
                alarm_on
              </mat-icon>
            </button>
            <!-- para salir del banco antes de tiempo -->
            <!-- TODO solo puede salir el usuario que entro
            *ngIf="(user.payload.val().nombre == workbench.payload.key)"
            <ng-container *ngFor="let user of miServDb.users | async"> -->
                <button class="mat-icon-button fondo" (click)="salir(workbench.payload.key)" >
                  <mat-icon matTooltip="salir workbench" color="warn"
                            class="mat-icon notranslate material-icons mat-icon-no-color">
                    clear
                  </mat-icon>
                </button>
            <!--</ng-container>-->

          </span>
          <!-- Libre -->
          <ng-template #elseBusy>
            <span *ngIf="!miServAuth.isLogueado(); else elseLogueado">
              <!-- NO logueado -->
              <button class="mat-icon-button fondo">
                <mat-icon matTooltip="Libre, logueate para acceder"
                          color="warn"
                          class="mat-icon notranslate material-icons mat-icon-no-color"
                          (click)="noLogueadoAviso()">
                  input
                </mat-icon>
              </button>
            </span>
            <!-- Logueado -->
            <ng-template #elseLogueado>
              <ng-container *ngFor="let user of miServDb.users | async">
              <button class="mat-icon-button fondo" *ngIf="user.payload.val().mail == miServAuth.getEmail()">
                  <mat-icon matTooltip="Libre" color="primary"
                            class="mat-icon notranslate material-icons mat-icon-no-color"
                            (click)="this.solicitud(workbench.payload.key, workbench.payload.val().nombre, user.payload.val().banco, user.payload.val().bancoNombre)">
                    input
                  </mat-icon>
                  <!--<code>{{user.payload.val().banco}}:{{user.payload.val().mail}}</code>-->

              </button>
              </ng-container>
            </ng-template>
          </ng-template>
        </mat-card-actions>
      </mat-card>
    </ng-container>

  </div>
</div>
