serve*.orig
telecoding/src/environments
telecoding/angular.json
telecoding/package.json
express/environments/*.json
telecodingweb/express/probas.js
telecodingweb/express/log
telecodingweb/express/pid
telecodingweb/express/frontend
ProgramacionRemota.wiki/
node-red/
python/
telecodingweb/dist/
telecodingweb/e2e/
telecodingweb/express/environments/
telecodingweb/node_modules/
telecodingweb/package-lock.json
telecodingweb/package-lock.json.imac
telecodingweb/package.json.imac
Tasmota
esp32cam
ProgramacionRemota.wiki
firebase/serverAA-export.json
firebase/programacionremota-export.json
