.cabecera {
    background-color: #673fb4;
    border-color: whitesmoke;
    padding: 10px;
    margin-top: 120px;
    color: whitesmoke;
  }

h1 {
  text-align: center;
}

.fondo {
  background-color: aliceblue;
}

