#wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 64px 1fr 64px;
}

#content {
  overflow-y: scroll;
}

#header {

}

#userbar {

}

.footer {
  color: white;

  text-align: center;
  display: block;
  width: 100%;
  font-size: 0.75em;
}

.spacer {
  flex: 1 1 auto;
}

.loading {
  margin: auto;
  width: 80%;
  padding: 10px;
}





