.fix {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
}
.fix-footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  height: 3em;
  width: 100%;
}

.footer {
  padding: 12px;
  color: white;
  text-align: center;
  display: block;
  width: 100%;
  font-size: 0.75em;
}

footer a {
  color: aliceblue;
}

a.mat-raised-button {
  margin: 5px;
  color: darkslateblue;
}
