<div id="principal" class="telecoding-typography">

  <!-- Cabecera -->
  <mat-toolbar  color="primary"  class="fix mat-elevation-z20">
    <mat-toolbar-row>
      <div class="col">
          <a mat-button target="_blank" href="http://www.danielcastelao.org" title="Castelao">
            <svg height="24" data-name="Logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1390 1010">
              <rect width="400" height="400" fill="none"/>
              <g id="layer101" fill="aliceblue" stroke="none">
                <path
                  d="M103 918 c-46 -49 -63 -90 -63 -153 0 -67 20 -119 62 -162 l32 -33 465 0 465 0 -36 38 c-46 46 -68 98 -68 157 0 55 19 97 68 148 l36 37 -465 0 -465 0 -31 -32z"/>
                <path
                  d="M362 403 c46 -47 68 -99 68 -158 0 -55 -19 -97 -68 -147 l-36 -38 465 0 465 0 31 32 c46 49 63 90 63 153 0 67 -20 119 -62 163 l-32 32 -465 0 -465 0 36 -37z"/>
              </g>
            </svg>
          </a>
          <span class="telecoding-typography" style="padding-left: 10px">TeleCoding</span>
      </div>
      <div class="col" style="text-align: right">
          <div class="telecoding-typography" *ngIf="( authApp.miAuth.user | async) as obs; else login">
            Hola, {{obs.email}}
            <button class="mat-raised-button telecoding-typography" (click)="authApp.logout()">Salir</button>
          </div>
          <ng-template #login>
            <button  class="mat-raised-button telecoding-typography" (click)="authApp.glogin()">
              <i class="fab fa-google"></i> Entrar</button>
          </ng-template>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>

  <!-- Workbenchs Grid -->
  <app-gridwb></app-gridwb>

  <!-- Footer -->
  <footer class="mat-background-primary fix-footer">
    ¿ Quieres colaborar o hacer tu propio TeleCoding ?&nbsp;
    <a href="https://github.com/damiancastelao/ProgramacionRemota" target="_blank" rel="noopener"> Repo en Github</a>
  </footer>

  <router-outlet></router-outlet>

</div>
